[Unit]
Description=Start Calamares Installer
After=multi-user.target
After=network.target

[Service]
Type=simple
User=root
PAMName=login
TTYPath=/dev/tty1
ExecStart=/usr/bin/startx /root/.xinitrc -- vt1
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target