[Desktop Entry]
Version=1.0
Type=Application
Name=Installer FWS Linux
Name[fr]=Installer FWS Linux
Comment=Installe FWS Linux sur votre machine
Comment[fr]=Installe FWS Linux sur votre machine
Exec=fws-installer
Icon=/etc/calamares/branding/fws/logo.png
Terminal=false
Categories=System;
Keywords=install;installer;fws;calamares;
StartupNotify=true
